.signup-layout {
  height: 100%;
}
.signup-logo {
  height: 200px;
}
.signup-header-background {
  background: #f0f2f5;
  height: 100%;
}
.signup-footer-background {
  background: #f0f2f5;
  height: 100%;
}
.signup-title {
  font-family: cursive;
  font-size: 60px;
}
.signup-space {
  width: 100%;
}
.signup-input {
  width: 220px;
}
.signup-input-small {
  width: 100px;
  margin-right: 10px;
}
.signup-button {
  width: 200px;
}
.signup-radio{
  width: 400px;
}
